fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
python-dotenv==1.0.0
elasticsearch==8.11.0
pandas>=2.0.3
numpy>=1.24.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
sentence-transformers==2.2.2
transformers==4.35.2
tqdm==4.66.1
requests==2.31.0
