# AI/ML requirements
numpy==1.26.0
pandas==2.1.0

# Sentence-BERT
sentence-transformers==2.2.2
transformers==4.42.2
torch==2.1.0

# Clustering et similarité
scikit-learn==1.3.2

# Visualisation
matplotlib==3.8.0
seaborn==0.12.3

# Utilitaires
tqdm==4.66.1
