# Traitement de texte et data
numpy==1.26.0
pandas==2.1.0

# Modèle SBERT
sentence-transformers==2.2.2
transformers==4.42.2
torch==2.1.0

# Recherche sémantique
scikit-learn==1.3.2

# Visualisation (optionnel pour tests et dashboards)
matplotlib==3.8.0
seaborn==0.12.3

# JSON et utilitaires
tqdm==4.66.1
